# Supabase 数据库连接
DATABASE_URL=postgresql://postgres:your-password@db.lkgijarvcoovfqddkjab.supabase.co:5432/postgres

# dbt 环境变量（profiles.yml 引用）
SUPABASE_DB_HOST=db.lkgijarvcoovfqddkjab.supabase.co
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=your-password
SUPABASE_DB_NAME=postgres
